<h1>{{message}}</h1> 
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
     Quos ratione dolorem magnam laborum officiis minus rem dignissimos delectus 
     illum eum doloremque, labore vitae vel sit laboriosam sapiente consequuntur,
      excepturi accusamus.{{anothermessage}}</p>